:root {
  --wrapper-block: 700px;
  --wrapper-inline: 400px;
  --root-margin-block: 10;
  --root-margin-inline: -10;
  --root-margin-top: 0px;
  --root-margin-height-scale: 0;
  --color-not-observed: rgb(255, 138, 138);
  --color-observed: rgb(157, 255, 138);
  --color-code-bg: rgb(224, 224, 224);
  --color-code: #9333ea;
  --margin-s: 0.5rem;
  --margin-m: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  writing-mode: horizontal-lr;
  line-height: 1.4;
  letter-spacing: 0.1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.layout-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 100vh;
}

.layout-grid-aside {
  background-color: #f6f8fa;
  grid-column: 2 / 3;
  grid-row: 1;
  padding: var(--margin-s);
  border-left: 1px solid black;
  overflow-y: scroll;
}

.layout-grid-main {
  grid-column: 1 / 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  container: layout-grid-main / inline-size;
  position: relative;
}

input {
  display: block;
  width: 100%;
}

h2 {
  letter-spacing: 0.5px;
  margin-bottom: var(--margin-s);
}

p {
  margin-bottom: var(--margin-m);
}

pre {
  padding: var(--margin-s);
  margin-block: var(--margin-m);
  background-color: var(--color-code-bg);
  border-radius: 0.25rem;
}

code {
  background-color: var(--color-code-bg);
  color: var(--color-code);
}

p code {
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.language-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background: none;
  margin: 0;
  padding: 0.5rem;
}

.wrapper-element {
  position: relative;
  overflow-y: scroll;
  border: 1px solid black;
  width: var(--wrapper-block);
  height: var(--wrapper-inline);
}

.wrapper-element::after {
  content: "Root";
  position: absolute;
  color: black;
  top: -1.5rem;
  left: 0;
  z-index: 20;
}

.wrapper-titles {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-element-status {
  padding-inline: 1rem;
  background-color: var(--color-not-observed);
}
.title-element-status-observed {
  background-color: var(--color-observed);
}

.root-margin-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;
  pointer-events: none;
  display: grid;
  grid-template-columns:
    1fr calc(var(--wrapper-block) * (var(--root-margin-block) / 50 + 1))
    1fr;
  grid-template-rows:
    1fr calc(var(--wrapper-inline) * (var(--root-margin-inline) / 50 + 1))
    1fr;
}

.root-margin-overlay-top {
  grid-column: 1/4;
  grid-row: 1/2;
}

.root-margin-overlay-left {
  grid-column: 1/2;
  grid-row: 2/3;
}

.root-margin-overlay-right {
  grid-column: 3/4;
  grid-row: 2/3;
}

.root-margin-overlay-bottom {
  grid-column: 1/4;
  grid-row: 3/4;
}

.root-margin-overlay-inner {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/3;
  border: 2px dashed blue;
}

.root-margin-overlay-inner::after {
  content: "Root Margin";
  position: absolute;
  color: blue;
  top: -1.5rem;
  left: 0;
}

.scroll-down {
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: center;
}

.scrolling-element {
  padding: 0.5rem;
  position: relative;
  margin: calc(var(--wrapper-inline) / 2) auto calc(var(--wrapper-inline) * 2);
  width: 200px;
  height: 200px;
  background: var(--color-not-observed);
  z-index: 8;
}

.scrolling-element-observed {
  background: var(--color-observed);
}

/* --wrapper-block: 700px;
  --wrapper-inline: 400px; */

.new-rm {
  --calculated-width: calc(var(--wrapper-block) * 0.8);
  --calculated-height: calc(var(--wrapper-inline) * 1);
  position: absolute;
  width: var(--calculated-width);
  height: var(--calculated-height);
  left: calc(50% - var(--calculated-width) / 2);
  top: calc(50% - var(--calculated-height) / 2);
  background: rgba(150, 91, 91, 0.717);
  transform: translateX(0) translateY(var(--root-margin-top));
}

/* 


  With top 0% and bottom 0% should be:
  --calculated-height: calc(var(--wrapper-inline) * 1);
  transform: translateX(0) translateY(0);

  With top 0% and bottom -15% should be:
  --calculated-height: calc(var(--wrapper-inline) * 0.85);
  transform: translateX(0) translateY(-30px); 

  With top 5% and bottom -10% should be:
  --calculated-height: calc(var(--wrapper-inline) * 0.95);
  transform: translateX(0) translateY(-30px);

  With top 15% and bottom 0% should be:
  --calculated-height: calc(var(--wrapper-inline) * 1.15);
  transform: translateX(0) translateY(-30px); 

  With top -15% and bottom 0% should be:
  --calculated-height: calc(var(--wrapper-inline) * 0.85);
  transform: translateX(0) translateY(30px); 

  With top -10% and bottom 5% should be:
  --calculated-height: calc(var(--wrapper-inline) * 0.95);
  transform: translateX(0) translateY(30px); 

  With top 0% and bottom 15% should be:
  --calculated-height: calc(var(--wrapper-inline) * 1.15);
  transform: translateX(0) translateY(30px); 
  */
